#nav-bar {
  overflow-y: hidden !important;
  margin-bottom: -32px !important;
  min-height: 0 !important;
  max-height: 0 !important;
  transition: max-height 0.2s ease-in-out 0.5s, min-height 0.2s ease-in-out 0.5s !important;
}

:hover > #nav-bar,
#nav-bar:focus-within {
  max-height: 32px !important;
  transition: max-height 0.2s ease-in-out, min-height 0.2s ease-in-out !important;
}

/* Remove hamburger menu button */
#PanelUI-menu-button {display: none;}
